@*     FOOD INDEX VIEW     *@
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab1">Manage Foods</a></li>
        <li><a data-toggle="tab" href="#tab2">New Food</a></li>
        <li><a data-toggle="tab" href="#tab3">Create New Meal</a></li>
        <li><a data-toggle="tab" href="#tab4">All Meals</a></li>
        <li><a data-toggle="tab" href="#tab5">History & Statistics</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">@Html.Action("ViewAllFoods", "Food")</div>
        <div id="tab2" class="tab-pane fade in">@Html.Action("AddOrEdit", "Food")</div>
        <div id="tab3" class="tab-pane fade in">@Html.Action("Index", "CreateMeal")</div>
        <div id="tab4" class="tab-pane fade in">@Html.Action("EditMeals", "CreateMeal")</div>
        <div id="tab5" class="tab-pane fade in">@Html.Action("Index", "History")</div>
    </div>

@section scripts { @Scripts.Render("~/bundles/jqueryval")}